<html>
<body>

		<title>Signup</title>


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='AnimalFarmCSS.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='kow.png') }}" type="image/x-icon">

	
	<a href= "{{ url_for ('new_url') }}"><img src="{{ url_for('static', filename='AnimalFarm_3_edit.png')}}" alt="Nice Logo" width = "100%" height = "100%" class = "header"></a>	
	{% if not session.get('logged_in') %}
		<a href="{{ url_for('login') }}" class="login" >Login</a>
	{% else %}
		<a href="{{ url_for('logout') }}" class="login">Logout</a>
	{% endif %}
	{% if not session.get('logged_in') %}
		<a href="{{ url_for('signup') }}" class="signup">Signup</a>
	{% else %}
		<a href="{{ url_for('new_post') }}" class="signup">New</a>
	{% endif %}
	<a href="{{ url_for('about') }}" class="about"> About </a>

		<h2>Signup:</h2>
		<form method="post" action="/signup">
			<h3>Username: 
				<input type="text" name="user" value="">
			</h3>
			<h3>Password:
				<input type="password" name="pass" value="">
			</h3>
			<h3>Confirm Password:
				<input type="password" name="pass_conf" value="">
			</h3>
			<input type="submit" value="login" class = "buttonish">
			{%if error%}<p class = "error"> That username is already taken</p>{% endif %}
		</form> 
	</body>
</html>